@import "../../../../App/vars.scss";

.profile-data_button {
  padding: 12px 42px 12px 42px;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
  background-color: $color-dark-gray;
  color: $color-ultra-light-gray;
  margin-top: 40px;
  font-family: "Manrope";
  border: none;
}

.modal-button {
  font-size: 14px;
  border: none;
  width: 92%;
  background-color: inherit;
  display: flex;
  justify-content: end;
  padding-top: 10px;
}
