@import "../../../../App/vars.scss";

.profile-data_button {
  padding: 12px 42px 12px 42px;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
  background-color: $color-dark-gray;
  color: $color-ultra-light-gray;
  margin-top: 40px;
  font-family: "Manrope";
  border: none;
}

.profile-data_button:hover {
  background-color: $color-extra-light-gray;
  color: #595959;
}

.modal-button {
  font-size: 14px;
  border: none;
  width: 92%;
  background-color: inherit;
  display: flex;
  justify-content: end;
  padding-top: 10px;
}

@media (max-width: 760px) {
  .profile-data_button {
    width: 100%;
    margin-top: 28px;
    padding: 10px 16px 10px 16px;
  }
}

@media (max-width: 490px) {
  .profile-data_button {
    width: 100%;
    margin-top: 28px;
    padding: 10px 16px 10px 16px;
  }
}
