@import "../../../../App/vars.scss";

.myInput-container {
  position: relative;
  display: inline-block;
  width: 420px;

  .myInput {
    width: 100%;
    border: 2px solid $color-very-light-gray;
    border-radius: 50px;
    padding: 11px 8px 11px 16px;
    margin-top: 15px;
    &:focus {
      outline: none !important;
    }
  }

  .myInput-clear-icon {
    position: absolute;
    right: 0px;
    font-size: 16px;
    top: 50%;
    transform: translateY(3%) translateX(80%);
    cursor: pointer;
    display: none;
    color: $color-medium-gray;
    outline: none !important;
  }

  &.active .myInput-clear-icon {
    display: block;
  }
}
