@import "../../../../App/vars.scss";

.myInput-container {
  position: relative;
  display: inline-block;
  width: 420px;

  .myInput {
    width: 100%;
    border: 2px solid $color-very-light-gray;
    border-radius: 50px;
    padding: 11px 8px 11px 16px;
    margin-top: 15px;
    font-size: 14px;
    &:focus {
      outline: none !important;
    }
  }

  .myInput-clear-icon {
    all: unset;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-5%) translateX(80%);
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    color: $color-medium-gray;
    outline: none !important;

    svg {
      display: block;
      width: 16px;
      height: 16px;
      stroke: $color-medium-gray;
      transition: stroke 0.2s ease;
    }
  }

  &.active .myInput-clear-icon {
    display: block;
  }
}

@media (max-width: 920px) {
  .myInput-container {
    width: 92%;
  }
}

@media (max-width: 490px) {
  .myInput-container {
    width: 100%;
    .myInput {
      width: 91%;
      margin-top: 10px;
      padding: 10px 8px 10px 16px;
    }
    .myInput-clear-icon {
      right: 25px;
    }
  }
}

.myInput::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  -webkit-appearance: none;
}
