@import "../../../App/vars.scss";

.profile-page {
  background-color: #f4f4f4;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profile-page_wrapper {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.profile-page_back {
  display: flex;
  cursor: pointer;
  height: 68px;
  width: 63%;
  align-items: center;
  color: $color-medium-gray;
}
.profile-page_back-text {
  margin-left: 18px;
}
.profile-page_btn-back {
  font-size: 20px;
}

.profile-settings,
.profile-data {
  width: 360px;
  height: 813px;
  border-radius: 16px;

  display: flex;
  justify-content: center;
  background-color: $color-ultra-light-gray;
}

.profile-data {
  width: 760px;
  margin-left: 40px;
}

.profile-data_h1 {
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  color: $color-dark-gray;
  position: relative;

  margin-top: 45px;
}
.profile-data_h1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  height: 1px;
  background-color: $color-very-light-gray;
}

.profile-data_wrapper {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.profile-data_form-group {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.profile-data_label {
  font-size: 18px;
}
