@import "../../../App/vars.scss";

.userCard {
  width: 360px;
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-ultra-light-gray;
  border-radius: 16px;
  margin-bottom: 20px;
  gap: 20px;
}

.userCard-info_wrapper {
  display: flex;
  flex-direction: column;
}

.userImg {
  width: 112px;
  height: 120px;
  border-radius: 8px;
  filter: grayscale(0);
}
.userCard-archived .userImg {
  filter: grayscale(100%); 
}
.userCard-username {
  color: $color-blue;
}
.userCard-archived .userCard-username {
  color: $color-medium-gray;
}
.userCard-company {
  color: $color-medium-gray
}
.userCard-archived .userCard-company {
  color: $color-light-gray
}
.userCard-city {
  color: $color-light-gray;
}
.userCard-archived .userCard-city {
  color: $color-very-light-gray;
}
.material-icons_color {
  color: $color-dark-gray;
  &:hover {
    color: $color-blue;
  }
}

.dropdown-container {
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  width: 200px;
  height: 146px;
  top: 100%;
  left: 0;
  display: none;
}

.dropdown-container.open,
.dropdown-menu {
  display: block;
}
