$color-black: #000000;
$color-dark-gray: #161616;
$color-medium-gray: #595959;
$color-light-gray: #9C9C9C;
$color-very-light-gray: #DADADA;
$color-extra-light-gray: #F4F4F4;
$color-ultra-light-gray: #FDFDFD;
$color-blue: #22A0BC;